// Jeremy King

// ==========  Color Variables ==========

$primary_background_color: #4f6b6b;
$warning_color: #faaeaa;

/* ==========  General Styling  ========== */


html {
    height: 100%;
  }
  
  body {
    font-family: arponasans, sans-serif;
    height: 100%;
    width: 100%;
    margin: auto;
    background-color: #bcd0cf;
  }
  
  main {
    padding: 20px;
  }
  
  h1 {
    color: whitesmoke;
    font-family: arponasans, sans-serif;
    font-weight: 500;
    font-size: 3em;
  }
  
  h2, h3, h4 {
    margin-left: 10px;
    font-family: arponasans, sans-serif;
    font-weight: 500;
    font-size: 2em;
  }
  
  /* ****  Media adjust for main heading in larger screens  **** */
  @media screen and (min-width: 768px) {
    .main-heading {
      font-size: 3em;
    }
  }
  p {
    letter-spacing: 1px;
    padding: 5px;
  }
  
  ul {
    padding: 0;
    text-align: center;
  }
  
  ul li {
    list-style: none;
    margin: 5px;
  }
  
  li {
    display: inline-block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  
  a {
    text-decoration: none;
    margin: auto;
  }
  
  #wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  @media screen and (min-width: 768px) {
    #wrapper {
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
    }
  }
  .title-wrap {
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
  }
  
  .title-wrap h2 {
    font-size: 4em;
    letter-spacing: 1px;
    text-shadow: 4px 2px rgb(218, 218, 81);
  }
  
  .title-wrap img {
    height: 75px;
    max-width: 75px;
  }
  
  /* ==========  Starting game popup  ==========  */

  #game-start {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 300px;
    padding: 10px;
    background-color: $primary_background_color;
    color: white;
    border: solid 1px black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*
    animate this opacity property
    from 0 to 1    
    */
    /* opacity:0; */
    /* 
    ensure pointer events will go 'through' this section tag 
    since it might  otherwise overlap the buttons and make them unclickable
    */
    // pointer-events: none;
    z-index: 1000;
  }
  
  #game-start h3 {
    margin: 10px 0px 10px 0px;
  }
  
  #game-start label {
    display: block;
    text-align: center;
  }
  
  #game-start input {
    font-size: 1em;
    width: 200px;
    height: 20px;
    padding: 10px;
  }
  
  /* ==========  Container for players  ==========  */
  .game-contain {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 400px;
    border-radius: 10px;
    background-color: rgb(227, 227, 227);
    box-shadow: 5px 5px 5px #586666;
    border: 4px solid #7c9392;
    margin: 10px;
  }
  
  .game-contain h3 {
    margin: 10px 0px 10px 10px;
  }
  
  .game-contain h4 {
    margin: 10px 0px 10px 50px;
  }
  
  .dice-contain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  img {
    border-radius: 10px;
    padding: 5px;
    height: auto;
    max-width: 100%;
  }
  
  .img-contain {
    display: flex;
    height: 75px;
    width: 75px;
  }
  
  #player h4 {
    margin: 10px 0px 10px 50px;
    text-shadow: 2px 2px yellowgreen;
    color: rgb(40, 39, 39);
    /* display: block;
    text-align: center; */
  }
  #opponent h4 {
    margin: 10px 0px 10px 50px;
    text-shadow: 2px 2px yellowgreen;
    color: rgb(40, 39, 39);
  }
  
  .scoreboard {
    margin: 20px 5px 20px 5px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: beige;
  }
  
  .score {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  /* ==========  Buttons  ========== */
  button {
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    font-size: 1em;
    letter-spacing: 1px;
    background-color: beige;
    box-shadow: 5px 5px 5px #7c9392;
  }
  button:hover {
    background-color: #7c9392;
    color: aliceblue;
    transition: .5s;
  }
 #play-button {
    margin-top: auto;
 }
  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .rules {
    background-color: beige;
    border: 4px solid #7c9392;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }
  
  .rules p {
    width: 600px;
  }
  
  /* ==========  Results PopUp  ========== */

  #results-popup {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 300px;
    padding: 10px;
    background-color: #4f6b6b;
    color: white;
    border: solid 1px black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(145, 219, 76), 10px 10px 10px black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*
    animate this opacity property
    from 0 to 1    
    */
    opacity: 1;
    /* 
    ensure pointer events will go 'through' this section tag 
    since it might  otherwise overlap the buttons and make them unclickable
    */
    pointer-events: none;
    z-index: 1000;
  }
  
  #results-popup h3 {
    margin: 0px;
    padding: 20px;
  }
  
  #results-pop p {
    margin-top: 40px;
  }
  
  #results-popup button {
    margin-top: 30px;
    pointer-events: all;
  }
  
  /* ==========  Header and Footer  ========== */
  header {
    padding: 0;
    margin: 0;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    background-color: #4f6b6b;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 10px 4px -4px gray;
  }
  
  .header h1 {
    padding: 5px 10px;
  }
  
  .header h2 {
    color: whitesmoke;
    padding: 5px 10px;
  }
  
  @media screen and (min-width: 768px) {
    .header {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  
    .header-nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      justify-content: space-evenly;
    }
  }
  /* Footer */
  address {
    display: flex;
    justify-content: space-between;
    padding: 5px;
  }
  
  .copyright {
    text-align: center;
  }
  
  .jq-off {
    font-size: 1.5em;
    color: #fe615a;
    font-weight: 700;
  }